@model NunesHR.Advance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
