@model PagedList.IPagedList<NunesHR.Payroll>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";

}
<h1>Salary Register  for @ViewBag.MonYr</h1>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, mon = Request.Params["mon"], yr = Request.Params["yr"] }))

<table class="table" style="border-width: thin; border-style:inset; position:absolute; left:10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employees.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employees.EmpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Wages)
            </th>           
            <th>
                Extra days
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Allowance)
            </th>
            
            <th>
                Absent Days
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Advance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LoanAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LoanCmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
            </th>
            
            <th>                
                @Html.DisplayNameFor(model => model.FirstOrDefault().BankName )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employees.EmpTypes.EmpType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AdjAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AdjRemark)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Name)
                </td>
                <td>
                    @Html.ActionLink(item.EmpID.ToString(), "Edit", "Employees", new { id = item.EmpID }, null )                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wages)
                </td>                
                <td>
                    @{ 
                        int dae = ((int) item.DaysWorked - 26) < 1 ? 0 : (int)item.DaysWorked - 26;
                    }
                    @dae
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Allowance)
                </td>
                <td>
                    @{
                        int dal = (26 - (int)item.DaysWorked) < 1 ? 0 : 26 - (int)item.DaysWorked;
                    }
                    @dal
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Advance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanCmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>                
                <td>
                    <label>@item.BankName.Substring(1)</label>
                    @*@Html.DisplayFor(modelItem => item.BankName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.EmpTypes.EmpType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdjAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdjRemark)
                </td>
                
                
            </tr>
        }
    </tbody>
</table>


