@model IEnumerable<NunesHR.Wages>


@{
    ViewBag.Title = NunesHR.MyExtensions.GetTitle(GetType().Name);
}

<h2>@NunesHR.MyExtensions.CamelToSentence(ViewBag.Title)</h2>
@Html.Action("EmpDets", new { EmpID = ViewBag.EmpID })
<p>
    @if (ViewBag.EmpID != null)    
    {
        <a href="~/Wages/Create/@ViewBag.EmpID">Create</a>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WageID }) |
            
            
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Employee Details", "Edit", "Employees", new { id = ViewBag.EmpID }, null)
</div>
