@model IEnumerable<NunesHR.AllowanceExceptions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowanceTypes.AllowanceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowanceTypes.AllowanceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stop)
        </td>
        <td>
            @((!item.Stop) ? Html.ActionLink("Edit", "Edit", new { id=item.AEID }) : null)                         
        </td>
    </tr>
}

</table>
